/* ------------------------------- media query ------------------------------ */
@media (min-width: 576px) {
  .carousel-caption h3 {
    font-size: 1.3em;
  }
  .carousel-caption p {
    font-size: 1.1em;
  }
}
@media (min-width: 768px) {
  .carousel-caption h3 {
    font-size: 1.4em;
  }
  .carousel-caption p {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  .carousel-caption h3 {
    font-size: 1.5em;
  }
  .carousel-caption p {
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  .carousel-caption h3 {
    font-size: 1.6em;
  }
  .carousel-caption p {
    font-size: 1.4em;
  }
}
