/* ------------------------------ footer styles ----------------------------- */

.text link {
  text-decoration: none;
  color: white;
}
.footer_area {
  position: relative;
  z-index: 1;
  background: #111 !important;
  overflow: hidden;
}
.footer_area .row {
  margin-left: -25px;
  margin-right: -25px;
}
.footer_area .row {
  padding-right: 25px;
  padding-left: 25px;
}

.single-footer-widget {
  position: relative;
  z-index: 1;
}

.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
  color: #3f43fd;
}
.single-footer-widget .widget-title {
  margin-bottom: 1.5rem;
  color: rgb(175, 17, 17);
  padding-left: 25px;
}
.single-footer-widget .footer_menu li a {
  color: #747794;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
  color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
  margin-bottom: 0;
}

.footer_social_area {
  position: relative;
  z-index: 1;
}
.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #f5f5fe;
  line-height: 40px;
  box-shadow: none;
  margin-right: 10px;
}
.footer_social_area a i {
  line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
  color: #ca1f1f;
}

ol li,
ul li {
  list-style: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}
